Repository COS301-SE-2022/Fresh-Produce-Inventory-Tracker, pull requests merged in 2022-05, with the labels that each got.

#31 🗃️ (repository) updated datbase code added scale repo code
  .github/workflows/backend.yml
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.ts
  fresh-produce-inventory-tracker/libs/api/scale/repository/src/lib/scale.repository.ts
  fresh-produce-inventory-tracker/package-lock.json
  fresh-produce-inventory-tracker/package.json
  fresh-produce-inventory-tracker/prisma/migrations/20220512164213_init_one/migration.sql
  fresh-produce-inventory-tracker/prisma/schema.prisma
Labels: code:database

#39 (api) added api calls for scale
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.contoller.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
Labels: code:api

#40 (bug) remove old code
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.ts
Labels: code:service

#42 (service) add service ScaleApiServiceApi
  fresh-produce-inventory-tracker/apps/backend/src/app/app.module.ts
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/api-scale-api.module.ts
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.contoller.ts
  fresh-produce-inventory-tracker/libs/api/scale/repository/src/lib/scale.repository.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/api-scale-service.module.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
  fresh-produce-inventory-tracker/package-lock.json
Labels: code:service

#43 (service) further api calls to ScaleApiServiceApi
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
Labels: code:service

#48 (service) Service calls adjustment.
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
Labels: code:service

#49 (service) Final service layer
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
Labels: code:service

#50 (bug) fixed scale bug
  fresh-produce-inventory-tracker/apps/backend/src/app/app.module.ts
  fresh-produce-inventory-tracker/files/6148745480e5bbf839ca15e12ae0b5f92b93ee8fr1-2016-1368v2_uhq-900x611-53c3.jpg
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.contoller.ts
Labels: bug

#54 (service) added id to access token for user recognistion
  fresh-produce-inventory-tracker/apps/backend/src/app/app.module.ts
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.ts
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/strategy/jwt.strategy.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
Labels: code:service

#57 ✅ (tests) added authentication repo and service tests
  fresh-produce-inventory-tracker/apps/backend/src/app/app.module.ts
  fresh-produce-inventory-tracker/files/action-movie-poster-template-design-0f5fff6262fdefb855e3a9a3f0fdd361_screen-a764.jpg
  fresh-produce-inventory-tracker/libs/api/authentication/api/src/lib/authenication.controller.spec.ts
  fresh-produce-inventory-tracker/libs/api/authentication/repository/src/lib/authentication.repository.spec.ts
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.spec.ts
Labels: test:unit

#60 (unit tests) added tests and reset password code
  fresh-produce-inventory-tracker/libs/api/authentication/api/src/lib/authenication.controller.spec.ts
  fresh-produce-inventory-tracker/libs/api/authentication/api/src/lib/authentication.controller.ts
  fresh-produce-inventory-tracker/libs/api/authentication/repository/src/lib/-api-authentication--repository.module.ts
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.spec.ts
  fresh-produce-inventory-tracker/libs/api/authentication/service/src/lib/authentication.service.ts
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.contoller.ts
  fresh-produce-inventory-tracker/package-lock.json
Labels: test:unit, code:authentication

#67 (test,database) added unit tests and changed database
  fresh-produce-inventory-tracker/.env
  fresh-produce-inventory-tracker/libs/api/notifications/api/src/lib/api-notifications-api.module.ts
  fresh-produce-inventory-tracker/libs/api/notifications/api/src/lib/notification.controller.spec.ts
  fresh-produce-inventory-tracker/libs/api/notifications/service/src/lib/notification.service.ts
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.contoller.ts
  fresh-produce-inventory-tracker/libs/api/scale/api/src/lib/scale.controller.spec.ts
  fresh-produce-inventory-tracker/libs/api/scale/repository/src/lib/scale.repository.spec.ts
  fresh-produce-inventory-tracker/libs/api/scale/repository/src/lib/scale.repository.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/scale.service.ts
  fresh-produce-inventory-tracker/prisma/migrations/20220519101420_init_scale/migration.sql
  fresh-produce-inventory-tracker/prisma/schema.prisma
Labels: code:database, code:service, test:unit

#69 (unit tests) Create api-scale-service.specs.ts
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/api-scale-service.spec.ts
Labels: test:unit

#73 (database) added notification table
  fresh-produce-inventory-tracker/apps/client/pages/signup/index.tsx
  fresh-produce-inventory-tracker/prisma/migrations/20220520125454_init_notification/migration.sql
  fresh-produce-inventory-tracker/prisma/schema.prisma
Labels: code:database

#74 Develop
  fresh-produce-inventory-tracker/libs/api/notifications/service/src/lib/notification.service.spec.ts
  fresh-produce-inventory-tracker/libs/api/scale/repository/src/lib/scale.repository.ts
  fresh-produce-inventory-tracker/prisma/migrations/20220520125454_init_notification/migration.sql
  fresh-produce-inventory-tracker/prisma/schema.prisma
Labels: code:database, code:service, code:api, code:util, test:unit

#75 (unit tests) Completed unit tests for service layer of scale
  fresh-produce-inventory-tracker/libs/api/scale/service/src/lib/api-scale-service.spec.ts
Labels: code:service, test:unit
