Repository COS301-SE-2022/Fresh-Produce-Inventory-Tracker, pull requests merged in 2022-06, with the labels that each got.

#82 (service) create code for trend service
  fresh-produce-inventory-tracker/libs/api/trend/service/src/lib/trend.service.ts
Labels: code:service

#83 (service) fleshed out the service to recognise within a month
  fresh-produce-inventory-tracker/libs/api/trend/service/src/lib/trend.service.ts
Labels: code:service

#86 (service) prediction up and running
  fresh-produce-inventory-tracker/libs/api/calculate-freshness/service/src/lib/calculatefreshness.service.ts
Labels: code:service, code:util

#87 (service) return correct values
  fresh-produce-inventory-tracker/libs/api/calculate-freshness/api/src/lib/calculatefreshness.controller.ts
  fresh-produce-inventory-tracker/libs/api/calculate-freshness/service/src/lib/calculatefreshness.service.ts
Labels: bug, code:service

#88 (trend) added get all for user
  fresh-produce-inventory-tracker/libs/api/trend/api/src/lib/trend.controller.ts
  fresh-produce-inventory-tracker/libs/api/trend/repository/src/lib/trend.repository.ts
  fresh-produce-inventory-tracker/libs/api/trend/service/src/lib/trend.service.ts
Labels: code:database, code:service, code:api

#90 (unit tests) Added unit tests for trend service layer
  fresh-produce-inventory-tracker/libs/api/trend/service/src/lib/api-trend-service.spec.ts
Labels: code:service, test:unit

#93 (unit tests) Fixed unit testing in trend service layer
  fresh-produce-inventory-tracker/libs/api/trend/service/src/lib/api-trend-service.spec.ts
Labels: code:service, test:unit

#111 (unit tests) Added unit tests for trend
  fresh-produce-inventory-tracker/libs/api/trend/repository/src/lib/trend.repository.spec.ts
Labels: test:unit

#112 (unit tests) Added unit tests for task controller
  fresh-produce-inventory-tracker/libs/api/tasks/api/src/lib/tasks.controller.spec.ts
Labels: test:unit

#115 (unit tests) Added unit tests for task repository
  fresh-produce-inventory-tracker/libs/api/tasks/repository/src/lib/api-tasks-repository.spec.ts
Labels: test:unit
